<div class="movie-card" [routerLink]="['/movie', movie?.id]">
  <div class="img-container">
    <img [src]="img" [alt]="movie?.imgUrl">
  </div>
  <div class="footer-container">
    <section class="title-container">
      <h2 class="movie-title">{{ movie?.title }}</h2>
    </section>
    <section class="info-container">
      <p>
        <span class="stars-container">
          <span class="empty-stars">
            <i class="ph ph-star"></i>
            <i class="ph ph-star"></i>
            <i class="ph ph-star"></i>
            <i class="ph ph-star"></i>
            <i class="ph ph-star"></i>
          </span>
          <span class="filled-stars" [style.width]="ratingPercentage">
            <i class="ph-fill ph-star"></i>
            <i class="ph-fill ph-star"></i>
            <i class="ph-fill ph-star"></i>
            <i class="ph-fill ph-star"></i>
            <i class="ph-fill ph-star"></i>
          </span>
        </span>
        {{ movie?.rating }}
      </p>
      <button class="watchlist-button" (click)="addToWatchlist($event)">
        <span class="watchlist-status">{{ isFavorite ? 'On my Watchlist' : 'Add to Watchlist' }}</span>
        <i [class]="isFavorite ? 'ph-fill ph-heart-straight' : 'ph ph-heart-straight'"></i>
      </button>
    </section>
  </div>
</div>
