<div class="movie-card" [routerLink]="['/movie', movie?.id]">
  <div class="img-container">
    <img [src]="img" [alt]="movie?.imgUrl">
  </div>
  <div class="footer-container">
    <section class="title-container">
      <h2 class="movie-title">{{ movie?.title }}</h2>
    </section>
    <section class="info-container">
      <p>
        <i class="ph ph-star"></i>
        {{ movie?.rating }}
      </p>
      <button class="wishlist-button" (click)="addToWishlist($event)">
        <span class="wishlist-status">{{ isFavorite ? 'Remove from Wishlist' : 'Add to your Wishlist' }}</span>
        <i [class]="isFavorite ? 'ph-fill ph-heart-straight' : 'ph ph-heart-straight'"></i>
      </button>
    </section>
  </div>
</div>
