// .movies-list {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   grid-gap: 1rem;
//   margin: 1rem 0;
// }

.main-container {
  height: calc(100vh - 65px);
  background: rgb(121,12,102);
  background: linear-gradient(0deg, rgba(121,12,102,1) 0%, #212121 70%);
}

.btns-container {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 2rem;
  gap: 0.5rem;

  button {
    background-color: transparent;
    border: 0px;
    outline: none;
    color: white;
    cursor: pointer;
    filter: brightness(0.5);
    font-size: 1rem;

    &:hover {
      filter: brightness(0.8);
    }

  }

  .active {
    filter: brightness(1);
  }

  p {
    margin: 0;
    color: white;
  }
}

.movies-list {
  display: flex;
  width: 100%;
  height: calc(100vh - 97px);
  overflow-x: auto;
  // margin-top: 1rem;
}

.movie-card {
  display: flex;
  flex-shrink: 0;
  height: calc(100vh - 8.7rem);
  margin-top: 1rem;
  margin-inline: 1rem;
}
