<main class="main-container">
  <section class="btns-container">
    <p>Order by: </p>
    <button (click)="sortByDate()" [class.active]="activeSort == 'date'">
      Date <i class="ph ph-calendar-blank"></i>
    </button>
    <button (click)="sortByName()" [class.active]="activeSort == 'name'">
      Name <i class="ph ph-pencil-simple"></i>
    </button>
    <button (click)="sortByRating()" [class.active]="activeSort == 'rating'">
      Rating <i class="ph ph-star"></i>
    </button>
  </section>
  <section class="movies-list">
      <app-movies-list [movies]="movies"></app-movies-list>
  </section>
</main>
